<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Interview Assistant</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>

<div class="container">

    <!-- Left Side -->
    <div class="left">

        <h1>🤖 AI Interview Assistant</h1>

        <p class="subtitle">
            Practice Interviews • Improve Skills • Get Job Ready
        </p>

        <div class="card">

            <input type="text" placeholder="Enter Your Name">

        <select id="domain">
                <option value="">Select Domain</option>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="web">Web Development</option>
                <option value="hr">HR Interview</option>
            </select>

            <button class="start-btn" 
            onclick="startInterview()">
                Start Interview
            </button>
        </div>

    </div>

    <!-- Right Side -->
    <div class="right">

        <h2>Why Choose AI Interview Assistant?</h2>

        <div class="feature">
            ✅ 500+ Interview Questions
        </div>

        <div class="feature">
            ✅ Python & Java Preparation
        </div>

        <div class="feature">
            ✅ HR Mock Interviews
        </div>

        <div class="feature">
            ✅ Instant Feedback
        </div>

        <div class="feature">
            ✅ Performance Tracking
        </div>

        <div class="feature">
            ✅ Resume Improvement Tips
        </div>

    </div>

</div>
     <script src="{{url_for('static',filename='home.js')}}"></script>
</body>
</html>
